.toolbar
{
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #eee;
    border-top: 1px solid #ccc;
}

.file
{
    display: none;
}